html, body{
   background: #FFFFFF;
}
.wrapper{
position: absolute;
top: 24%;
left:86%;
transform: translate(-50%,-50%);
}
.cube-wrap {
width: 150px;
height: 150px;
perspective: 2000px;
perspective-origin: 50% -500px;
}
.single-box {
background-image: url(books.jpeg);
background-size: cover;
display: block;
position: absolute;
width: 150px;
height: 150px;
background-color: #60c2ef;
transform: rotateY(45deg) translateZ(-200px) rotateX(15deg);
transform-origin: 50% 50% 0;
border: 3px solid #fff;
}
.box {
transform-style: preserve-3d;
animation: rotate 10s infinite linear;
}
.side-front {
transform: translateZ(180px);
}
.side-back {
transform: rotateY(180deg) translateZ(180px);
}
.side-top {
background-image: url(books.jpeg);
transform: rotateX(90deg) translateZ(180px);
}
.side-bottom {
transform: rotateX(-90deg) translateZ(180px);
background-image: url(books.jpeg);
}
.side-left {
transform: rotateY(-90deg) translateZ(180px);
}
.side-right {
transform: rotateY(90deg) translateZ(180px);
}

@keyframes rotate {
0% { transform: rotateY(0); }

100% { transform: rotateY(360deg); }
}
